<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../style/bioskopcss.css">
	<title>Bioskop</title>
</head>
<body>
	<h1>Dobrodosli na pocetnu stranicu bioskopa!</h1>
	<div class="korisnik">
		<img src="../data/slika2.jpg" width="80px", height="100px"><br>
		Miskov Nikola<br>
		Prodavac
	</div>
	<nav>	
		<ul>
			<li><a href="../templates/bioskopp.html">Pocetna stranica</a></li>
			<li><a href="../templates/projekcijep.html">Projekcije</a></li>
			<li><a href="../templates/mojprofilp.html">Profil</a></li>
			<li style="float: right; border-left: 1px solid white" ><a href="../templates/projekat1login.html">Odjava</a></li>
		</ul>
	</nav>
	<h3>Pretraga</h3>
	<form action="../templates/stranicafilmap.html">
		<input type="text" name="pretraga" placeholder="Pretraga">
	</form>
	<br>
	<br>
	<div class="film1">
		<h2><a href="../templates/stranicafilmap.html">Thor Ragnarok</a></h2>
		<div class="opis1">
			<p>
				PG-13 <br>
				2h 10min <br>
				Action, Adventure, Comedy <br> 
				10 Januar 2017
			</p>
		</div>
		<p>
			<img src="../data/thor.jpg" alt="Poster" class="poster1" >
		</p>
	</div>
	<br>
	<br>
	<div class="film1">
		<h2><a href="../templates/stranicafilmap.html">Inception</a></h2>
		<div class="opis1">
			<p>
				PG-13 <br>
				2h 28min <br>
				Action, Adventure, Sci-Fi<br>
				16 Jul 2018
			</p>
		</div>
		<p>
			<img src="../data/inception.jpg" alt="Poster" class="poster1">
		</p>
	</div>
	<br>
	<br>
	<div class="film1">
		<h2><a href="../templates/stranicafilmap.html">Ted</a></h2>
		<div class="opis1">
			<p>
				R <br>
				1h 46min <br>
				Comedy, Fantasy <br>
				13 Jul 2018 <br>
			</p>
		</div>
		<p>
			<img src="../data/ted.jpg" alt="Poster" class="poster1">
		</p>
	</div>
</body>
</html>