<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../style/bioskop1css.css">
	<title>Moj profil</title>
</head>
<body>
	<h1>Moj profil</h1>
	<div class="korisnik">
		<img src="../data/slika2.jpg" width="80px", height="100px"><br>
		Miskov Nikola<br>
		Prodavac
	</div>
	<nav>	
		<ul>
			<li><a href="../templates/bioskopp.html">Pocetna stranica</a></li>
			<li><a href="../templates/projekcijep.html">Projekcije</a></li>
			<li><a href="../templates/mojprofilp.html">Profil</a></li>
			<li style="float: right; border-left: 1px solid white" ><a href="../templates/projekat1login.html">Odjava</a></li>
		</ul>
	</nav>
	<h3>Kupi kartu</h3>
	<form class="dodavanjeprodavca" >
  		Broj karata(od 1 do 8):<br>
  		<input type="number" name="karte" min="1" max="8"><br>
  		Izaberite salu:
  		<input type="radio" name="sala" value="sala1"> s1
  		<input type="radio" name="sala" value="sala2"> s2
  		<input type="radio" name="sala" value="sala3"> s3
  		<input type="radio" name="sala" value="sala4"> s4
	</form>

</body>
</html>