<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../style/bioskopcss.css">
	<title>Moj profil</title>
</head>
<body>
	<h1>Moj profil</h1>
	<div class="korisnik">
		<img src="../data/slika1.jpg" width="80px", height="100px"><br>
		Mile Sevic<br>
		Menadzer
	</div>
	<nav>	
		<ul>
			<li><a href="../templates/bioskopm.html">Pocetna stranica</a></li>
			<li><a href="../templates/projekcijem.html">Projekcije</a></li>
			<li><a href="../templates/mojprofilm.html">Profil</a></li>
			<li style="float: right; border-left: 1px solid white" ><a href="../templates/projekat1login.html">Odjava</a></li>
		</ul>
	</nav>
	<h3>Dodajte prodavca</h3>
	<form class="dodavanjeprodavca">
  		Ime prodavca:<br>
  		<input type="text" name="ime"><br>
  		Sifra <br>
  		<input type="password" name="psw">
  		Provera sifre<br>
  		<input type="password" name="psw"> <br>
  		<br>
  		<input type="submit" name="submit" value="Kreiraj novog prodavca">
	</form>

</body>
</html>