<!DOCTYPE html>
<html>
<head>
	<title>Projekat1</title>
</head>
<body style="background-image: url(../data/prvaslika.jpg); text-align: center;">
	<fieldset>
		<legend>PRIJAVA</legend>
		Username: <input type="text" name="Username"> <br>
		<br>
		Password: <input type="Password" name="psw"> <br>
		<br>
		<input type="radio", name="posao" value="menadzer">Menadzer<br> 
		<input type="radio", name="posao" value="prodavac">Prodavac<br>
		<a href="../templates/bioskopm.html"><input type="button" value="Menadzer"></a>
		<a href="../templates/bioskopp.html"><input type="button" value="Prodavac"></a>
	</fieldset>
	</form>
</body>
</html>