<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../style/stranicafilmacss.css">
</head>
<body>
	<h1>Stranica projekcije</h1>
	<div class="korisnik">
		<img src="../data/slika2.jpg" width="80px", height="100px"><br>
		Miskov Nikola<br>
		Prodavac
	</div>
	<nav>	
		<ul>
			<li><a href="../templates/bioskopp.html">Pocetna stranica</a></li>
			<li><a href="../templates/projekcijep.html">Projekcije</a></li>
			<li><a href="../templates/mojprofilp.html">Profil</a></li>
			<li style="float: right; border-left: 1px solid white" ><a href="../templates/projekat1login.html">Odjava</a></li>
		</ul>
	</nav>
	<div>
	<h2>Thor Ragnarok</h2>
	<p>
		U marvelovom filmur - Ragnarok“, Tor je zarobljen s druge strane svemira bez svog moćnog malja i nalazi se u trci s vremenom da se vrati u Asgard i zaustavi Ragnarok - uništenje njegove domovine i kraj asgardijanske civilizacije – od strane svemoćne nove pretnje, nemilosrdne Hele. Ali prvo mora da preživi gladijatorsko takmičenje koje će ga suočiti s bivšim saveznikom i kolegom Osvetnikom – neverovatnim Hulkom
	</p>
	<p>
		PG-13 | 2h 10min | Action, Adventure, Comedy |
	</p>
	<p>
		<img src="../data/thor.jpg" alt="Poster" class="poster1" >
	</p>
	<video controls style="background-color: black">
		<source src="../data/Thor Trailer.mp4" type="video/mp4">
	</video>
	<table>
		<caption>PROJEKCIJE</caption>
		<tr>
			<th>Broj sale</th>
			<th>Datum i Vreme prikazivanja</th>
		</tr>
		<tr>
			<td>Sala1</td>
			<td>10.1.2018. 20:30</td>
		</tr>
		<tr>
			<td>Sala1</td>
			<td>11.1.2018. 19:00</td>
		</tr>
		<tr>
			<td>Sala2</td>
			<td>11.1.2018. 20:00</td>
		</tr>
	</table>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div>
		<h2>Ted</h2>
		<p>
			Pričao o muškarcu koji život dijeli s ponosno politički nekorektnim, konstantno napušenim i beskrajno bezobraznim plišanim medvjedom.
		</p>
		<p>
			R | 1h 46min | Comedy, Fantasy | 13 Jul 2018 
		</p>
		</p>
		<p>
			<img src="../data/ted.jpg" alt="Poster" class="poster1">
		</p>
		<video controls style="background-color: black">
			<source src="../data/Ted Trailer.mp4" type="video/mp4">
		</video>
		<table>
		<caption>PROJEKCIJE</caption>
		<tr>
			<th>Broj sale</th>
			<th>Datum i Vreme prikazivanja</th>
		</tr>
		<tr>
			<td>Sala1</td>
			<td>13.8.2018. 20:30</td>
		</tr>
		<tr>
			<td>Sala1</td>
			<td>14.8.2018. 19:00</td>
		</tr>
		<tr>
			<td>Sala2</td>
			<td>14.8.2018. 20:00</td>
		</tr>
	</table>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div>
		<h2>Inception</h2>
		<p>
			DiCaprio tumači ulogu Dominicka Cobba, lopova koji obavlja poslove industrijske špijunaže koristeći eksperimentalnu vojnu tehnologiju koja mu omogućava ulazak u podsvijest svojih meta. Nakon što mu je ponuđena prilika da se vrati svom starom životu on pristaje na naizgled nemogući zadatak: "usađivanje", umetanje tuđe ideje u podsvijest svoje mete.
		</p>
		<p>
			PG-13 | 2h 28min | Action, Adventure, Sci-Fi | 16 Jul 2018 
		</p>
		</p>
		<p>
			<img src="../data/inception.jpg" alt="Poster" class="poster1">
		</p>
		<video controls style="background-color: black">
			<source src="../data/Inception Trailer.mp4" type="video/mp4">
		</video>
		<table>
		<caption>PROJEKCIJE</caption>
		<tr>
			<th>Broj sale</th>
			<th>Datum i Vreme prikazivanja</th>
		</tr>
		<tr>
			<td>Sala1</td>
			<td>15.7.2018. 20:30</td>
		</tr>
		<tr>
			<td>Sala1</td>
			<td>16.7.2018. 19:00</td>
		</tr>
		<tr>
			<td>Sala2</td>
			<td>17.7.2018. 20:00</td>
		</tr>
	</table>
	</div>
</body>
</html>