<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../style/stranicafilmacss.css">
</head>
<body>
	<div>
	<h1>STRANICA PROJEKCIJE</h1>
	<div class="korisnik">
		<img src="../data/slika1.jpg" width="80px", height="100px"><br>
		Mile Sevic<br>
		Menadzer
	</div>
	<nav>
		<ul>
			<li><a href="../templates/bioskopm.html">Pocetna stranica</a></li>
			<li><a href="../templates/projekcijem.html">Projekcije</a></li>
			<li><a href="../templates/mojprofilm.html">Profil</a></li>
			<li style="float: right; border-left: 1px solid white" ><a href="../templates/projekat1login.html">Odjava</a></li>
		</ul>
	</nav>
	<p>
		U marvelovom filmur - Ragnarok“, Tor je zarobljen s druge strane svemira bez svog moćnog malja i nalazi se u trci s vremenom da se vrati u Asgard i zaustavi Ragnarok - uništenje njegove domovine i kraj asgardijanske civilizacije – od strane svemoćne nove pretnje, nemilosrdne Hele. Ali prvo mora da preživi gladijatorsko takmičenje koje će ga suočiti s bivšim saveznikom i kolegom Osvetnikom – neverovatnim Hulkom
	</p>
	<p>
		PG-13 | 2h 10min | Action, Adventure, Comedy |
	</p>
	<p>
		<img src="../data/thor.jpg" alt="Poster" class="poster1" >
	</p>
	<video controls style="background-color: black">
		<source src="../data/Thor Trailer.mp4" type="video/mp4">
	</video>
	<table>
		<caption>PROJEKCIJE</caption>
		<tr>
			<th>Broj sale</th>
			<th>Datum i Vreme prikazivanja</th>
		</tr>
		<tr>
			<td>Sala1</td>
			<td>10.1.2018. 20:30</td>
		</tr>
		<tr>
			<td>Sala1</td>
			<td>11.1.2018. 19:00</td>
		</tr>
		<tr>
			<td>Sala2</td>
			<td>11.1.2018. 20:00</td>
		</tr>
	</table>
	</div>
	<br>
	<br>
	<a href="../templates/bezfilma.html"><input type="submit" name="obrisi" value="Obrisite ovaj film"></a>
</body>
</html>